.bbr {
    border: 1px solid red;
}

.bbb {
    border: 1px solid blue;
}

.bbg {
    border: 1px solid green;
}
body {
    background: rgb(40, 107, 125);
    background: linear-gradient(45deg, rgb(26, 71, 83) 0%, rgb(85, 5, 26) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
#animation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.div-num-box {
    background-color: rgb(40, 127, 214);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level-container {
    /* border: 2px solid rgb(0, 255, 34); */
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 1rem;
}

.level-container[data-type="divided"] {
    gap: 1rem;
    animation: divideAnimation 1s ease-in;
}
@keyframes divideAnimation {
    0% {
        gap: 0;
        opacity: 0;
    }
    50% {
        gap: 1rem;
        opacity: 1;
    }
    100% {
        gap: 1rem;
        opacity: 1;
    }
}

.level-container[data-type="merged"] {
    gap: 1rem;
    animation: OpacityAnimation 0.8s ease-in;
}
@keyframes OpacityAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.num-box-container {
    display: flex;
    /* gap: 1rem; */
}

.num-box-container[data-type="true"] {
    gap: 0;
    animation: mergeAnimation 0.8s ease-in;
}
@keyframes mergeAnimation {
    0% {
        gap: 1rem;
    }
    100% {
        gap: 0;
    }
}
